# Dependencies
node_modules

# Build
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
*.sw?

# Local env files
.env.local
.env.*.local
*.local

# OS
.DS_Store
Thumbs.db

# Capacitor
android/
ios/
